h1{
    color:rgb(0, 0, 0);
}
img{
    width:700px;
    margin-top:30px;
}
h3{
    color:rgb(0, 0, 0);
}
body{
    text-align: center;
    background-color: rgb(248, 199, 37);
    background-size: 50%;
}
p{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(0, 0, 0);
}
.cartao{
    width: 500px;
    margin: auto;
    border-radius:40px;
    border-style: groove;
    border-color: black;
}